  
{% extends "Library_Base.html" %}    

{% block title %}
  <title>Tasteless Library</title>
{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
<script type="text/javascript">
  function load() {
    var data;
    $.getJSON("../static/data.json", function(data) {
        console.log("My data: " + data["features"]);
        buildCanvas(data);
    })  
}

var hoverObjects = [];
var stage; 
var data;
var canvas;
var buildCanvas = function(data) {
    canvas = document.getElementById("floorCanvas");
    stage = new createjs.Stage(canvas);
    data = data;
   
    var rect = new createjs.Shape();
    rect.graphics.setStrokeStyle(0.2).beginStroke("rgba(0,0,0,1)").drawRect(2, 2, 1000, 600);
    stage.addChild(rect);
    stage.enableMouseOver(20); 

    var currentLocation = new createjs.Bitmap("../static/location2.png");
    stage.addChild(currentLocation);
    currentLocation.x = 500;
    currentLocation.y = 200;
    currentLocation.name = "my_loc";
    currentLocation.scaleX = .5;
    currentLocation.scaleY = .5;
    currentLocation.image.onload = function() {
        stage.scaleX = stage.scaleY = 0.7;
        stage.update();
    };
    currentLocation.addEventListener("mouseover", handleMouseOver);
    currentLocation.addEventListener("mouseout", handleMouseOut);
    hoverObjects.push([currentLocation.name, "You"]);

  for(var i = 0; i < data.features.length ; i++ ) {
    var geometry = data.features[i].geometry;
        var property = data.features[i].properties;
    if(geometry.type == "Line") {
      ctx.moveTo(geometry.coordinates[0][0], geometry.coordinates[0][1]);
      for( var j =1; j < geometry.coordinates.length; j++) {
        ctx.lineTo(geometry.coordinates[j][0], geometry.coordinates[j][1]); 
      }
      ctx.stroke(); 
    }
     if(geometry.type == "FilledRectangle") {
            var polygon = new createjs.Shape();
           
            polygon.graphics.moveTo(geometry.coordinates[0][0], geometry.coordinates[0][1]);
            polygon.graphics.setStrokeStyle(0.5).beginStroke("rgba(0,0,0,1)");
            polygon.graphics.beginFill("#034f84");
      for( var j = geometry.coordinates.length -1; j >= 0; j--) {
       polygon.graphics.lineTo(geometry.coordinates[j][0], geometry.coordinates[j][1]);
            }
            polygon.graphics.endFill();
            polygon.name = property.name;
            stage.addChild(polygon);
            hoverObjects.push([property.name, property.desc]);

            polygon.addEventListener("mouseover", handleMouseOver);
            polygon.addEventListener("mouseout", handleMouseOut);
            polygon.addEventListener("click", handleMouseClick);
    }
  }
    stage.scaleX = stage.scaleY = 0.7;
    stage.update();
}
function handleMouseClick(event) {
    var bookName = document.getElementById('autocomplete').value;
    var form = document.createElement("form");
    input1 = document.createElement("input");
    input2 = document.createElement("input");
    form.action = "/shelf";
    form.method = "post"
    input1.type = "hidden";
    input1.name = "shelf_name";
    input1.value = event.currentTarget.name;
    input2.type = "hidden";
    input2.name = "book";
    input2.value = bookName;
    form.appendChild(input1).appendChild(input2);
    document.body.appendChild(form);
    form.submit();
    event.currentTarget.name; // this is the shelf_name which we get when clicked
}





function handleMouseOver(event) {
    var d = document.getElementById('info_obj');
    d.style.position = "absolute";
    d.style.display = "block";
    var x =  event.localX  * 0.7;
    var y =  event.localY * 0.7;
    d.style.left = x + 50 +'px';
    d.style.top = y  + 'px';
    for(var i = 0; i < hoverObjects.length; i++) {
        if(hoverObjects[i][0] == event.currentTarget.name) {
            d.innerHTML = hoverObjects[i][1];
        }
    }
}
function handleMouseOut(event) {
    var d = document.getElementById('info_obj');
    d.style.position = "absolute";
    d.style.display = "none";
}


// TODO
function locateShelf() {
    stage.removeChild(stage.children[2]);
    var polygon = new createjs.Shape();
    polygon.graphics.setStrokeStyle(0.5).beginStroke("rgba(0,0,0,1)");
    polygon.graphics.beginFill("#ffe41c");
    polygon.graphics.moveTo(10, 10);
    polygon.graphics.lineTo(200, 10);
    polygon.graphics.lineTo(200, 50);
    polygon.graphics.lineTo(10, 50);
    polygon.graphics.lineTo(10, 10);
    polygon.graphics.endFill();
    stage.addChild(polygon);
    stage.update();
}

</script>
<script type="text/javascript">load()</script>



<form method="POST" class="form" role="form">
  <script type="text/javascript">
    $(function(){
      var cur=[];
      '{% for title in book_data %}'
        cur.push({ value: '{{title}}' });
      '{% endfor %}'
      $('#autocomplete').autocomplete({
        source: cur
      });
    });
  </script>
<div class="container container-main">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="container-fluid" style="text-align:center;">
            {% for category, message in messages %}
              {% if category == 'error' and loop.index <= 5%}
                  <div class="row">
                      <div class="alert alert-danger alert-dismissable fade in">
                          <button type="button" class="close" data-dismiss="alert" artia-hidden="true">&times;</button>
                          {{message}}
                      </div>
                  </div>
              {% elif category == 'success' and loop.index <= 5%}
                  <div class="row">
                      <div class="alert alert-success alert-dismissable fade in">
                          <button type="button" class="close" data-dismiss="alert" artia-hidden="true">&times;</button>
                          {{message}}
                      </div>
                  </div>
              {% elif category == 'info' and loop.index <= 5%}
                  <div class="row">
                      <div class="alert alert-info alert-dismissable fade in">
                          <button type="button" class="close" data-dismiss="alert" artia-hidden="true">&times;</button>
                          {{message}}
                      </div>
                  </div>
              {% elif loop.index <= 5%}
                  <div class="row">
                      <div class="alert alert-warning alert-dismissable fade in">
                          <button type="button" class="close" data-dismiss="alert" artia-hidden="true">&times;</button>
                          {{message}}
                      </div>
                  </div>
              {% endif %}
              {% if loop.index == 6 %}
                  <div class="row">
                      <div class="alert alert-info alert-dismissable fade in">
                          <button type="button" class="close" data-dismiss="alert" artia-hidden="true">&times;</button>
                          ...
                      </div>
                  </div>
              {% endif %}
            {% endfor %}
        </div>
    {% endif %}
  {% endwith %}
  <div class=" search-bar row ">  
    <div class="container col-md-8 search-bar-container col-centered">
      <div class="input-group add-on">
       {{ form.name(class_="form-control",placeholder="Search",list="characters",id="autocomplete")}}
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit" value='{{form.submit.data}}' name='{{form.submit.name}}'><i class="glyphicon glyphicon-search"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div class=" canvas row">
    <div class=" canvas-container container col-sm-8 col-centered">
      <div class="container-canvas">
        <canvas id="floorCanvas" width="700" height="425"></canvas>
        <div id="info_obj" class="info_card card_shadow" style="left: 0px; top: 0px; display: none;"> <p> </p></div>
      </div>
    </div>
   <div class=" slider col-sm-4 col-centered ">
      <ul class="pagination pagination-div" style="vertical-align:top">
        <li><a href="#">E</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
      </ul>
    </div>
  </div>


</form>

{% if searched == True %}
  <script type="text/javascript">locateShelf()</script>
  <!-- you  can access book name as {{book_name}} in html and as '{{book_name}}' in java script and for book category  use {{book_category}} in html and with quotes in javascript-->
    
{% endif %}
{% endblock %}