
{% extends "Library_Base.html" %}    

{% block title %}
  <title>Tasteless Library</title>
{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
<script type="text/javascript"> var stage; </script>
<script type="text/javascript">
  function load() {
    var data;
     var bookName = '{{book_name}}';
    
    $.getJSON("../static/data.json", function(data) {
        console.log("My data: " + data["features"]);
        localStorageCabinet(data);
        
        // execute floor making if the search do not has a book, else persist the previous canvas
      
        buildCanvas(data);
        
        // saving cabinet data in local storage
    })  
}

var refreshView = function(cabinet_id, shelf_id) {
  cabinetSearched = cabinet_id;
  shelfSearched = shelf_id;
  load();
};

// storing the value of each cabinet.
// object in the form of : {cabinet_num: "1", shelf_num: "1", category: "HCI", start: "A", end: "G"}
var localStorageCabinet = function(data) {
  window.localStorage.clear();
  for (var i = 0; i < data.features.length; i++) {
    var cabinet_num = data.features[i].cabinet_num;
    for (var j = 0; j < data.features[i].properties.shelf.length; j++) {
      var shelf_num = data.features[i].properties.shelf[j].shelf_num;
      var category = data.features[i].properties.shelf[j].category;
      var start = data.features[i].properties.shelf[j].start;
      var end = data.features[i].properties.shelf[j].end;
      var obj = { cabinet_num: cabinet_num, shelf_num: shelf_num, category: category, start: start, end: end};
      localStorage.setItem(cabinet_num + "-" + shelf_num, JSON.stringify(obj));
    };
  };

};
var hoverObjects = [];

var data;
var canvas;
var cabinetSearched, shelfSearched;
var buildCanvas = function(data) {
    canvas = document.getElementById("floorCanvas");
    stage = new createjs.Stage(canvas);
    data = data;
   
    var rect = new createjs.Shape();
    rect.graphics.setStrokeStyle(0.2).beginFill("#fff").beginStroke("rgba(0,0,0,1)").drawRect(2, 2, 1000, 600);
    stage.addChild(rect);
    stage.enableMouseOver(20); 

    var currentLocation = new createjs.Bitmap("../static/location2.png");
    stage.addChild(currentLocation);
    currentLocation.x = 500;
    currentLocation.y = 200;
    currentLocation.name = "my_loc";
    currentLocation.scaleX = .5;
    currentLocation.scaleY = .5;
    currentLocation.image.onload = function() {
        stage.scaleX = stage.scaleY = 0.7;
        stage.update();
    };
    currentLocation.addEventListener("mouseover", handleMouseOver);
    currentLocation.addEventListener("mouseout", handleMouseOut);
    hoverObjects.push([currentLocation.name, "You"]);

  for(var i = 0; i < data.features.length ; i++ ) {
    var geometry = data.features[i].geometry;
    var property = data.features[i].properties;

     
            var polygon = new createjs.Shape();
           
            polygon.graphics.moveTo(geometry.coordinates[0][0], geometry.coordinates[0][1]);
            polygon.graphics.setStrokeStyle(0.5).beginStroke("rgba(0,0,0,1)");
            if(cabinetSearched == data.features[i].cabinet_num) {
              polygon.graphics.beginFill("#ff0000");
            
            }
            else {
               polygon.graphics.beginFill("#034f84");
            }
           
            for( var j = geometry.coordinates.length -1; j >= 0; j--) {
             polygon.graphics.lineTo(geometry.coordinates[j][0], geometry.coordinates[j][1]);
            }
            polygon.graphics.endFill();
            polygon.name = data.features[i].cabinet_num;
            stage.addChild(polygon);
            var desc = [];
            for( var k = 0; k<data.features[i].properties.shelf.length; k++) {
              desc.push(data.features[i].properties.shelf[k].category);
            }
            var arr = desc.filter( function( item, index, inputArray ) {
            return inputArray.indexOf(item) == index;
            });

            hoverObjects.push([data.features[i].cabinet_num, arr]);

            polygon.addEventListener("mouseover", handleMouseOver);
            polygon.addEventListener("mouseout", handleMouseOut);
            polygon.addEventListener("click", handleMouseClick);
    
  }
    stage.scaleX = stage.scaleY = 0.7;
    stage.update();
}
function handleMouseClick(event) {
    var bookName = document.getElementById('autocomplete').value;
    var form = document.createElement("form");
    input1 = document.createElement("input");
    input2 = document.createElement("input");
    input3 = document.createElement("input");
    
    form.action = "/shelf";
    form.method = "post"
    
    input1.type = "hidden";
    input1.name = "cabinet_num";
    input1.value = event.currentTarget.name;
    
    input2.type = "hidden";
    input2.name = "book";
    input2.value = bookName;

    input3.type = "hidden";
    input3.name = "shelf_num";
    input3.value = shelfSearched;
    
    form.appendChild(input1).appendChild(input2).appendChild(input3);
        document.body.appendChild(form);
        form.submit();
        event.currentTarget.name; // this is the shelf_name which we get when clicked
    }
    




function handleMouseOver(event) {
    var d = document.getElementById('info_obj');
    d.style.position = "absolute";
    d.style.display = "block";
    var x =  event.localX  * 0.7;
    var y =  event.localY * 0.7;
    d.style.left = x + 50 +'px';
    d.style.top = y  + 'px';
    for(var i = 0; i < hoverObjects.length; i++) {
        if(hoverObjects[i][0] == event.currentTarget.name) {
            d.innerHTML = hoverObjects[i][1];
        }
    }
}
function handleMouseOut(event) {
    var d = document.getElementById('info_obj');
    d.style.position = "absolute";
    d.style.display = "none";
}


// TODO
// searching the local storage database and matching every shelf category to the book's category.
// upon finding the cabinet and shelf, the cabinet is highlighted with a different color.
// parsing this object : {cabinet_num: "1", shelf_num: "1", category: "HCI", start: "A", end: "G"}
// and get the cabinet and shelf number of the book
function locateShelf() {
   var bookName = '{{book_name}}';
   var category = '{{book_category}}';
   for (var i = 0; i < localStorage.length; i++) {
      var key = localStorage.key(i);
      var value = localStorage[key];
      var obj = JSON.parse(value);
      if(obj.category == category) {
        var b = bookName.charAt(0);
        if((obj.start <= bookName.charAt(0)) && (bookName.charAt(0) <= obj.end )) {
            refreshView(obj.cabinet_num, obj.shelf_num);
        }
      }

   };
  
}

</script>
<script type="text/javascript">load()</script>



<form method="POST" class="form" role="form">
  <script type="text/javascript">
    $(function(){
      var cur=[];
      '{% for title in book_data %}'
        cur.push({ value: '{{title}}' });
      '{% endfor %}'
      $('#autocomplete').autocomplete({
        source: cur
      });
    });
  </script>
<div class="container container-main">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="container-fluid" style="text-align:center;">
            {% for category, message in messages %}
              {% if category == 'error' and loop.index <= 5%}
                  <div class="row">
                      <div class="alert alert-danger alert-dismissable fade in">
                          <button type="button" class="close" data-dismiss="alert" artia-hidden="true">&times;</button>
                          {{message}}
                      </div>
                  </div>
              {% elif category == 'success' and loop.index <= 5%}
                  <div class="row">
                      <div class="alert alert-success alert-dismissable fade in">
                          <button type="button" class="close" data-dismiss="alert" artia-hidden="true">&times;</button>
                          {{message}}
                      </div>
                  </div>
              {% elif category == 'info' and loop.index <= 5%}
                  <div class="row">
                      <div class="alert alert-info alert-dismissable fade in">
                          <button type="button" class="close" data-dismiss="alert" artia-hidden="true">&times;</button>
                          {{message}}
                      </div>
                  </div>
              {% elif loop.index <= 5%}
                  <div class="row">
                      <div class="alert alert-warning alert-dismissable fade in">
                          <button type="button" class="close" data-dismiss="alert" artia-hidden="true">&times;</button>
                          {{message}}
                      </div>
                  </div>
              {% endif %}
              {% if loop.index == 6 %}
                  <div class="row">
                      <div class="alert alert-info alert-dismissable fade in">
                          <button type="button" class="close" data-dismiss="alert" artia-hidden="true">&times;</button>
                          ...
                      </div>
                  </div>
              {% endif %}
            {% endfor %}
        </div>
    {% endif %}
  {% endwith %}
  <div class=" search-bar row ">  
    <div class="container col-md-8 search-bar-container col-centered">
      <div class="input-group add-on">
       {{ form.name(class_="form-control",placeholder="Search",list="characters",id="autocomplete")}}
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit" value='{{form.submit.data}}' name='{{form.submit.name}}'><i class="glyphicon glyphicon-search"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div class=" canvas row">
    <div class=" canvas-container container col-sm-8 col-centered">
      <div class="container-canvas">
        <canvas id="floorCanvas" width="700" height="425"></canvas>
        <div id="info_obj" class="info_card card_shadow" style="left: 0px; top: 0px; display: none;"> <p> </p></div>
      </div>
    </div>
   <!-- <div class=" slider col-sm-4 col-centered ">
      <ul class="pagination pagination-div" style="vertical-align:top">
        <li><a href="#">E</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
      </ul>
    </div> -->
  </div>

</form>

{% if searched == True %}
  <script type="text/javascript">locateShelf()</script>
  <!-- you  can access book name as {{book_name}} in html and as '{{book_name}}' in java script and for book category  use {{book_category}} in html and with quotes in javascript-->
    
{% endif %}
{% endblock %}