<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    {% block title %}{% endblock %}
		<script src="{{ url_for('static', filename='jquery.js') }}"></script> <!-- 2.1.4 -->
	    <script src="{{ url_for('static', filename='bootstrap.js') }}"></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	    <script src="https://code.createjs.com/easeljs-0.8.2.min.js"></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	    <link rel="stylesheet" href="../static/floorCss.css">
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  		<script type="text/javascript" src="../static/js/jquery-1.9.1.min.js"></script>
  		<script type="text/javascript" src="../static/js/jquery.autocomplete.min.js"></script>
  		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  		{% block head %}{% endblock %}
	    <nav class="navbar navbar-inverse navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="sbutton" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#">Tasteless Library</a>
	        </div>
	        <div id="navbar" class="collapse navbar-collapse">
	        </div>
	      </div>
	    </nav> 
	</head>

	<body>
	<!-- load floor map -->
		{% block body %}{% endblock %}
	</body>
</html>