{% extends "Library_Base.html" %}    

{% block title %}
  <title>Tasteless Library</title>
{% endblock %}

{% block head %}
  <!-- <script src="{{ url_for('static', filename='makeShelf.js') }}"></script> -->
{% endblock %}

{% block body %}
<script type="text/javascript">
  function load() {
    var data;
    $.getJSON("../static/data.json", function(data) {
        console.log("My data: " + data["features"]);
        buildCanvas(data);
    })
}
var hoverObjects = [];
var stage; 
var data;
var canvas;
var cabinetSearched ='{{cabinet_num}}';
var cabinetSearchedBook ='{{cabinet_num_w_book}}';
var bookName = '{{book}}';
var shelfNum = '{{shelf_num}}';
var bookCanvas = [];
var bookEachShelf = [];
var hScale, wScale;
var buildCanvas = function(data) {
    canvas = document.getElementById("floorCanvas");
    stage = new createjs.Stage(canvas);
    data = data;
    for(var i = 0; i < data.features.length ; i++ ) {
        if((data.features[i].object == "Cabinet") &&(data.features[i].cabinet_num== cabinetSearched)) {   

            // var d = document.getElementById('info_obj');
            // d.style.position = "absolute";
            // d.style.display = "block";
            // d.style.left = 450 +'px';
            // d.style.top = 250 + 'px';
            // d.innerHTML = data.features[i].properties.desc;
            

                var property = data.features[i].properties;
                var shelfHeight = 600, shelfWidth = 590;
                var numRows = property.shelf.length;
                var rowHeight = shelfHeight/numRows;
                var initial_x = 5, initial_y = 5;
                

                for( var j = 0; j < numRows; j++) {
                    var polygon = new createjs.Shape();
                    polygon.graphics.setStrokeStyle(3)
                        .beginStroke("rgba(255,255,255,1)")
                        .beginFill("rgb(186, 169, 154)").drawRect(initial_x , (initial_y  +j * ( rowHeight) ) , shelfWidth, rowHeight);
                    polygon.name = property.shelf[j].shelf_num;
                    polygon.addEventListener("mouseover", handleMouseOver);
                    polygon.addEventListener("mouseout", handleMouseOut);
                    stage.addChild(polygon);
                }
                

                for(var k = 1; k <= numRows; k++) {
                        
                         // traversing each shelf
                         var rcount = 1;
                         var randomWidth =0;
                        // text = new createjs.Text(property.shelf[k-1].start + " - " + property.shelf[k-1].end, "20px Arial", "#ff7700")
                         text = "";
                         text.x = 450;

                         var iDiv = document.createElement('div');
                         if((property.shelf[k-1].category !== undefined) && ((property.shelf[k-1].start !== undefined) && (property.shelf[k-1].end !== undefined))) {
                           iDiv.innerHTML = property.shelf[k-1].category + ":  \t  \t \t\n     " + property.shelf[k-1].start + " - " + property.shelf[k-1].end;
                          }
                          else if(!((property.shelf[k-1].start !== undefined)|| (property.shelf[k-1].end !== undefined)) && (property.shelf[k-1].category !== undefined)) {
                            iDiv.innerHTML = property.shelf[k-1].category + ": No order";
                          }
                          else if((property.shelf[k-1].category === undefined) && ((property.shelf[k-1].start !== undefined) && (property.shelf[k-1].end !== undefined))) {
                            iDiv.innerHTML = "No Category"+ property.shelf[k-1].start + " - " + property.shelf[k-1].end;
                          }
                          else {
                            iDiv.innerHTML =  " No category defined" +  ": No order";
                          }
                         iDiv.style.position = "absolute";
                        // iDiv.style.left = 800+ 'px';
                         iDiv.className = 'info_card';
                         var body = document.getElementsByTagName('body')[0];
                         body.children[2].children[0].children[1].appendChild(iDiv); 

                        // adding it to the div with col-4
                       
                        // document.getElementsByTagName('body')[0].appendChild(iDiv);
                         var foundInfo = document.createElement('div1');

                         if((+shelfNum === k) &&(cabinetSearched === cabinetSearchedBook)) {
                            iDiv.style.background = "#ff0"; 
                         
                            foundInfo.innerHTML = "Your book is one of those highlighted with yellow";
                            foundInfo.style.position = "absolute";
                            foundInfo.style.left = 200+ 'px';
                            foundInfo.className = 'info_card';
                            foundInfo.style.background = "#ff0"; 
                            body.children[2].children[0].children[1].appendChild(foundInfo); 




                         }
                       
                        var maxHeight = rowHeight / 1.5;
                        var minHeight = rowHeight / 2;
                        var maxWidth = maxHeight / 1.5;
                        var minWidth = minHeight * 2 / 10;
                        var randomHeight = Math.random() * (maxHeight - minHeight) + minHeight;
                        var randomWidth = Math.random() * (maxWidth - minWidth) + minWidth;

                        var startX = initial_x;
                        

                        for(var l = initial_x;  startX + randomWidth < shelfWidth;) {
                       
                        var color = getRandomColor();
                        
                        // var widthBook = shelfWidth / property.books_count[i];

                      
                        
                         text.y = initial_y + rowHeight * k - rowHeight/2;
                         iDiv.style.top = rowHeight * k - rowHeight/2+'px';
                         foundInfo.style.top =  rowHeight * k - rowHeight/2+'px';
                         
                         text.textBaseline = "alphabetic";
                            var polygon = new createjs.Shape();
                            polygon.graphics.setStrokeStyle(1)
                                .beginStroke("rgba(255,255,255,0.5)")
                                .beginFill(color).drawRect(startX, (initial_y + rowHeight * k - randomHeight ) , randomWidth, randomHeight);
                           
                           
                           stage.addChild(polygon); 
                           bookCanvas.push({count:rcount, polygon:polygon, shelf:k});
                           rcount ++;
                         startX += randomWidth;
                         randomHeight = Math.random() * (maxHeight - minHeight) + minHeight;
                         randomWidth = Math.random() * (maxWidth - minWidth) + minWidth;
                        // startX += randomWidth;

                        }
                        bookEachShelf.push({row:k, count: rcount});
                       // stage.addChild(text);


                        if((cabinetSearchedBook== cabinetSearched) && (shelfNum === k.toString())) {
                            var start = property.shelf[k-1].start.charCodeAt(0);
                            var end = property.shelf[k-1].end.charCodeAt(0);
                            var range = end - start + 1;
                            var bookNameChar = bookName.charCodeAt(0);
                            var offSet = Math.floor(bookNameChar - start);
                            var count = 1;
                            var booksEachRange = Math.floor(rcount / range);
                             for (var b = 0; b < bookCanvas.length; b++) {
                                if(bookCanvas[b].shelf == k) {
                                        count ++;
                                        if(count >= booksEachRange * offSet) {
                                            for (var inner = 0; inner <= booksEachRange; inner++) {
                                                var p = bookCanvas[b+inner].polygon;
                                              // p.graphics.clear();
                                               // p.alpha = 0.1;
                                               var x =p.graphics.instructions[1].x;
                                               var y =p.graphics.instructions[1].y;
                                               var h =p.graphics.instructions[1].h;
                                               var w =p.graphics.instructions[1].w;

                                             p.graphics.clear().beginFill("#ff0").setStrokeStyle(1).beginStroke("rgba(0,0,0)")
                                                               .drawRect(x, y, w, h).endFill();

                                              stage.update();
                                            };
                                            break;
                                        }
                                }
                             };


                        
                        }

                   
                        stage.update();

                    }

                    // var polygon = new createjs.Shape();
                    // polygon.graphics.setStrokeStyle(3)
                    //     .beginStroke("rgba(0,0,0,1)")
                    //     .beginFill("rgb(0,0,0)").drawRect(initial_x , initial_y , shelfWidth, shelfHeight);
                    //     polygon.alpha = 0.7;


                    // stage.addChild(polygon);
                    // stage.update();

                    // var polygon = new createjs.Shape();
                    // polygon.graphics.setStrokeStyle(3)
                    //     .beginStroke("rgba(0,0,0,1)")
                    //     .beginFill("rgb(186, 169, 154)").drawRect(initial_x + 50, initial_y  + (shelfNum - 1)* ( rowHeight), 50, shelfHeight);
                    // stage.addChild(polygon);
                    stage.update();
            
          
        }
    }
    
    stage.update();
}

function shelfHasBook (shelf_num) {


};

function getRandomColor() {
 var colorList = ['#1A237E','#0D47A1','#00695C','#B71c1c','#F57F17','#3E2723','#1A237E','#0D47A1','#00695C','#B71c1c','#F57F17','#3E2723'];
  var random = Math.floor(Math.random() * (11 - 0) + 0);
  return colorList[random];
}
function handleMouseOver(event) {
    var d = document.getElementById('info_obj');
    d.style.position = "absolute";
    d.style.display = "block";
    var x =  event.localX  * 0.7;
    var y =  event.localY * 0.7;
    d.style.left = x + 50 +'px';
    d.style.top = y  + 'px';
    for(var i = 0; i < hoverObjects.length; i++) {
        if(hoverObjects[i][0] == event.currentTarget.name) {
            d.innerHTML = hoverObjects[i][1];
        }
    }
}
function handleMouseOut(event) {
    var d = document.getElementById('info_obj');
    d.style.position = "absolute";
    d.style.display = "none";
}

// TODO
function locateShelf() {
    stage.removeChild(stage.children[2]);
    var polygon = new createjs.Shape();
    polygon.graphics.setStrokeStyle(0.5).beginStroke("rgba(0,0,0,1)");
    polygon.graphics.beginFill("#ffe41c");
    polygon.graphics.moveTo(10, 10);
    polygon.graphics.lineTo(400, 10);
    polygon.graphics.lineTo(400, 50);
    polygon.graphics.lineTo(10, 50);
    polygon.graphics.lineTo(10, 10);
    polygon.graphics.endFill();
    stage.addChild(polygon);
    var line = new createjs.Shape();
    line.graphics.setStrokeStyle(3);
    line.graphics.setStrokeDash([10,10]);
    line.graphics.beginStroke("#0d6de2");
    line.graphics.moveTo(500, 200);
    line.graphics.lineTo(200, 60);
    stage.addChild(line);
    stage.update();
}

function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
}
load();
</script>
  <div class="container container-main">
    <div class="row">
        <div class="col-md-6">
          <div class="">
            <div class="">
              <canvas id="floorCanvas" width="600" height="600"></canvas>
               
                
            </div>
          </div>  
        </div>
        <div class="col-md-6 col-centered" style = "display: inline-block;" >
             <div id="info_list" class="info_card card_shadow" style="left: 0px; top: 0px; display: none;"> <p> </p></div>
             <div id="info_book_found" class="info_card card_shadow" style="left: 0px; top: 0px; display: none;"> <p> </p></div>
        </div>
       
    </div>
  </div>
{% endblock %}	
    
	
